{%load static%}
<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="{% static '/image/assets/apple-touch-icon-180x180.png'%}" rel="apple-touch-icon">
  <link href="{.image/assets/favicon.ico'}" rel="icon">

  <title>Title page</title>  

<link href="{% static 'css/index_home.css' %}" rel="stylesheet">

</head>


<body>

 <!-- Add your content of header -->
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="./index.html#contact-section-container" title="" class="anchor-link">Contact Us</a></li>
            <li>
                <p>
                    <a href="{% url 'login'%}" class="btn btn-default navbar-btn" >Log Out</a>
                </p>
            </li>


        </ul>

      </div>
    </div>
  </nav>
</header>



<!-- Add your site or app content here -->
<div class="background-image-container white-text-container" style="background-image: url('{%static 'image/assets/images/img-05.jpg'%}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>HelpCovid</h1>
                <p class="">THE BEST PLACE TO DISCOVER COVID19 SYMPTOMS AND GET TREATMENT</p>
                <a href="#contact-section-container" class="btn btn-primary btn-lg anchor-link" title="">Symptoms Analysis</a>
            </div>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Covid-19</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-comment-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Consultance</h3>
                <p class="text-center">Find your consultance Here is you feel that you have the same Symptoms as Covid! Do not hesitate to reach to us anytime.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Hospital</h3>
                <p class="text-center">Provide the hospital which are availble in Cambodia for Covid-19 treatment.
</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-bell-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Covid_19 News</h3>
                <p class="text-center"> We provide the updates news related to Covid-19</p>
            </div>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container">
    <div class="image-column" style="background-image: url('{% static 'image/assets/images/img-01.jpg' %}')"></div>
    <div class="container">
        <div class="row">
            <div class="section-label reveal">
                <p>Coworking</p>
            </div>
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>Dui augue orci</h2>
                <h3>Lorem ipsum</h3>
                <p>សូមអញ្ជេីញទៅទទួលចាក់វ៉ាក់សាំងដោយស្ម័គ្រចិត្ត​សម្រាប់អ្នកដែលមានអាយុពី៦០ឆ្នាំឡេីង​ នៅរាជធានីភ្នំពេញ​ ខេត្តកណ្តាល
                    ​ និងខេត្តព្រះសីហនុ​ នៅតាមមន្ទីរពេទ្យរដ្ឋដែលនៅជិតលោកអ្នក​ ចៀសវាងការប្រមូលផ្តុំនៅមន្ទីរពេទ្យថ្នាក់ជាតិណាមួយ​ 
                    ហេីយត្រូវទៅចុះឈ្មោះនៅតាមអជ្ញាធរមូលដ្ឋានរបស់ខ្លួន​ ដេីម្បីសម្របសម្រួលបញ្ជូនឈ្មោះទៅទីតាំងចាក់បានត្រឹមត្រូវផងដែរ​ ៖
                   </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus «
                    ut lacus » tellus. In pretium lobortis blandit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>

            </div>
        </div>
    </div>
</div>



<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Consectetur adipiscing</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="{% static 'image/assets/images/img-02.jpg'%}" alt="" class="img-responsive">
                <h3 class="text-center">Consectetur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src="{% static 'image/assets/images/img-03.jpg'%}" alt="" class="img-responsive">
                <h3 class="text-center">Malesuada</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="{% static 'image/assets/images/img-04.jpg' %}" alt="" class="img-responsive">
                <h3 class="text-center">Phasellus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
        </div>
    </div>
</div>



<script>
document.addEventListener("DOMContentLoaded", function (event) {
    
  googleMapInit(); 
  scrollToAnchor();
  scrollRevelation('reveal');
});
</script>

<footer class="footer-container white-text-container">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>We are helping you to escape from Covid-19.</p>
                </div>

                <div class="col-md-4">
                    <h4>Contact Us for more informations</h4>
                    <div>
                        <p>
                            <a href="https://www.twitter.com" class="fa-icon" title="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                            <a href="https://www.facebook.com" class="fa-icon" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com" class="fa-icon" title="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                    <div>
                        <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                    </div>

                </div>
